.container {
    .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
        padding: 20px;
    }
}

.main-content {
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main-content h2 {
    color: #333;
}
.main-content p {
    color: #666;
    line-height: 1.5;
}
.highlight {
    color: #a79948;
    font-weight: bold;
}
