.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
	padding: 20px;
}

#about .main-content {
	background-color: bisque;
	padding: 20px;
	margin-top: 20px;
	box-shadow: 0 0 10px rgb(1, 2, 19);
	border-radius: 10px;
}

#about .main-content h1,
h2,
h3 {
	color: #333;
}

#about .main-content p {
	color: #666;
	line-height: 1.5;
}

#about .highlight {
	color: rgb(1, 2, 19);
	font-weight: bold;
}

.navbar #about {
	background-color: #235525;
	cursor: not-allowed;
	color: rgb(233, 230, 230);
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: 0 3px 5px rgb(1, 2, 19);
	transition: 0.5s;
}
