.contact-content {
	display: flex;
	font-size: 0.9em;
	flex-direction: column;
	max-width: 80%;
	min-width: 20%;
	margin: 2em auto;
	padding: 20px;
	margin-top: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-content h3 {
	color: #333;
}
.contact-content p {
	color: bisque;
}

.contact-form {
	display: flex;
	flex-direction: column;
	max-width: 60%;
	margin-left: 20% ;
}
.contact-form label {
	margin: 10px 0 5px;
}
.contact-form input,
.contact-form textarea {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.contact-form input,
.contact-form textarea {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.contact-form .text-danger {
	color: red;
	font-size: 0.8em;
}
.contact-form .border-danger {
	border: 2px solid red;
}

.navbar #contact {
	background-color: #235525;
	cursor: not-allowed;
	color: rgb(233, 230, 230);
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
	transition: 0.5s;
}

.toast {
	visibility: visible;
	display: flex;
	flex-direction: column;
	min-width: 40%;
	max-width: 50%;
	margin: 10% 25%;
	padding: 5%;
	background-color: #4c9850;
	color: rgb(1, 2, 19);
	text-align: center;
	border-radius: 5px;
	position: fixed;
	z-index: 1000;
	font-size: 1.2em;
	box-shadow: 0 2px 6px rgb(1, 2, 19);
	transition: opacity 0.5s, visibility 0.5s;
}

@media screen and (max-width: 544px) {
	.contact-form {
		max-width: 100%;
		margin: 0.2em;
	}

	.toast {
		font-size: 0.7;
		width: 60%;
		margin: 4% 20%;
		padding: 5%;
	}

	.btn {
		width: 90%;
	}
}

@media screen and (max-width: 320px) {
	.contact-form {
		max-width: 100%;
		margin: 0;
	}

	.toast {
		font-size: 0.7;
		width: 70%;
		margin: 4% 5%;
	}

	.btn {
		width: 80%;
	}
}
