p {
	padding: 0 80px;
}

form {
	display: flex;
	flex-direction: column;
	background-color: rgb(106, 104, 104);
	padding: 20px;
	margin: 10px auto;
	max-width: 540px;
	border-radius: 8px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 1);
}

.radio-btns {
	padding: 15px 30px;
	margin: 20px;
	border: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	text-align: left;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 1);
	border-radius: 8px;
}
.radio-btns:hover {
	box-shadow: 0 3px 20px rgba(0, 0, 0, 1);
	background-color: rgb(25, 25, 25);
}

.radio-btns label {
	padding: 10px 20px;
	display: inline-block;
	cursor: pointer;
	transition: color 0.3s;
}

.radio-btns label:active,
.radio-btns label:hover,
.radio-btns label:focus {
	color: rgb(139, 3, 166);
}

input[type="submit"] {
	background-color: #235525;
	margin: 20px auto;
	color: rgb(233, 230, 230);
	padding: 2% 5%;
	width: 30%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 1);
}

textarea {
	background-color: #010119;
	color: rgb(233, 230, 230);
	margin: 20px auto;
	width: 80%;
	padding: 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 1px 2px rgb(255, 255, 255);
	display: block;
}

input[type="submit"]:hover {
	background-color: #4c9850;
	color: #222;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

.navbar #home {
	background-color: #235525;
	cursor: not-allowed;
	color: rgb(233, 230, 230);
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
	transition: 0.5s;
}

.home-page {
	font-size: 0.8em;
}

.radios {
	display: flex;
	flex-direction: row;
	margin: 3px auto;
	flex-wrap: wrap;
}
