html,
body {
	background-color: #333;
	font-family: Arial, sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
	color: bisque;
	font-size: 1.2rem;
	height: 100vh;
}

h1,
h2 {
	color: bisque;
}

h1 {
	padding: 20px;
	margin-top: 60px;
}
.btn {
	display: inline-block;
	background-color: #235525;
	margin-top: 20px;
	color: rgb(233, 230, 230);
	padding: 10px 20px;
	width: 25%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 1);
	text-decoration: none;
}
.btn:hover {
	background-color: #5b7e5c;
	color: blanchedalmond;
	text-decoration: none;
}
