.msg-content {
	display: flex;
	flex-direction: column;
	max-width: 80%;
	min-width: 20%;
	margin: 2em auto;
	padding: 20px;
	margin-top: 20px;
	box-shadow: 0 0 10px rgb(1, 2, 19);
}
.msg-content h3 {
	color: #333;
}
.msg-content p {
	color: #666;
}

.navbar #contact {
	background-color: #235525;
	cursor: not-allowed;
	color: bisque;
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: 0 3px 5px rgb(1, 2, 19);
	transition: 0.5s;
}
