.navbar {
	background-color: #222;
	overflow: hidden;
	padding: 0;
	margin: 0;
	box-shadow: 0 8px 6px rgba(0, 0, 0, 0.5);
	display: flex;
	font-size: 0.8em;
	justify-content: space-between;
	align-items: center;
	transition: transform 0.3s ease;
}

/* Hamburger Icon Styles */
.menu-toggle {
	display: none; /* Hide the checkbox */
}

.hamburger {
	display: none;
	flex-direction: column;
	cursor: pointer;
	padding: 10px;
}

.hamburger .bar {
	width: 30px;
	height: 3px;
	background-color: bisque;
	margin: 5px 0;
	transition: 0.3s;
}

/* User Icon Styles */
.user-icon {
	transition: 0.3s;
	font-size: 0.8em;
	display: flex;
	align-items: center;
	padding: 0.6em;
	transition: transform 0.3s ease;
}

.user-icon img {
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 50%;
	transition: transform 0.3s ease;
}

.username {
	font-weight: bold;
	color: #4c9850;
	transition: 0.3s ease;
}

.navbar ul {
	list-style: none;
	width: 55%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.navbar ul li {
	margin: 0;
	display: inline-block;
	transition: transform 0.3s ease;
}

.navbar ul li a {
	width: 100%;
	color: bisque;
	text-decoration: none;
	transition: 0.3s;
}

.navbar ul li a:hover {
	color: rgb(232, 185, 115);
}

.navbar #logout {
	letter-spacing: 0.2em;
	font-size: 0.7em;
	color: bisque;
	background-color: rgb(197, 14, 4);
	border-radius: 0.6em;
	padding: 0.2em 0.9em;
	transition: transform 0.3s ease;
}

.navbar #logout:hover {
	background-color: rgb(100, 14, 9);
}

.user-icon.shrink {
	transform: scale(0.6);
}

/* Show hamburger icon on small screens */
@media (max-width: 544px) {
	h1 {
		transform: scale(75%);
	}
	.hamburger {
		display: flex;
	}

	.navbar ul {
		display: none; /* Hide menu by default */
		flex-direction: column;
		position: absolute;
		top: 60px;
		right: 0;
		background-color: #222;
		width: 100%;
	}

	.menu-toggle:checked + .hamburger + #nav-menu {
		display: flex; /* Show menu when checkbox is checked */
	}

	.navbar ul li {
		padding: 10px;
		text-align: center;
	}
}
