.navbar {
	background-color: #222;
	overflow: hidden;
	padding: 0;
	margin: 0;
	box-shadow: 0 8px 6px rgba(0, 0, 0, 0.5);
	display: flex;
	font-size: 0.9em;
	justify-content: space-between;
	align-items: center;
}

.user-icon {
	transition: 0.3s;
	font-size: 0.8em;
	display: flex;
	align-items: center;
	margin-left: auto;
	padding: 0 10px;
}

.user-icon img {
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 50%;
}

.navbar ul {
	list-style: none;
	width: 70%;
	margin-right: 2%;
	padding-right: 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar ul li {
	display: inline;
	padding: 0px 5%;
}

.navbar ul li a {
	color: bisque;
	text-decoration: none;
	transition: 0.3s;
}

.navbar ul li a:hover {
	color: rgb(232, 185, 115);
}

.navbar #logout {
	letter-spacing: 0.2em;
	font-size: 0.7em;
	color: bisque;
	background-color: rgb(197, 14, 4);
	border-radius: 0.6em;
	padding: 0.2em 0.9em;
}
