{{template "base" . }} {{define "css"}} 
<link
rel="stylesheet"
href="/static/styles/about.css"
/>
{{end}} {{define "title"}} About {{end}} {{define "content"}} 
<div id="about" class="container">
    <div class="main-content">        
        <h3>What's New?</h3>
        <p>🚀 Say hello to version <span class="highlight">0.4</span>! The latest and greatest update brings you a sleek new <span class="highlight">Web Interface</span> that makes creating and sharing ASCII art easier than ever. No more fiddling with code – just pure, unadulterated creativity at your fingertips!</p>
            
        <h3>Exciting Updates Ahead!</h3>
        <p>🔧 This application is a work in progress, and we're just getting started! We're constantly cooking up new features and squashing bugs to make your experience even better. Stay tuned for more awesome updates and improvements. The best is yet to come! 🚀
        </p> 
    </div>
</div>

{{end}}