{{template "base" . }} {{define "css"}} 
<link
rel="stylesheet"
href="/static/styles/about.css"
/>
{{end}} {{define "title"}} About {{end}} {{define "content"}} 
<div id="about" class="container">
        <div class="main-content">
            <h1>Welcome to the World of ASCII Art!</h3>
            <p>🎨 Originally, the <span class="highlight">ASCII Art Graphics Tool</span> was crafted to turn plain old text into amazing, eye-catching ASCII art. Whether you’re into classic characters or creative patterns, this tool has you covered with various formats and fonts like <span class="highlight">standard</span>, <span class="highlight">shadow</span>, and <span class="highlight">thinkertoy</span>.</p>
            
            <h3>Get Creative, Anywhere!</h3>
            <p>✨ Whether you're a fan of the classic <span class="highlight">Terminal</span> experience or prefer working with files, we've got you covered. The application supports both a <span class="highlight">Terminal</span> and a <span class="highlight">File Interface</span>, so you can create your masterpieces however you like.</p>
            
            <h3>Join the Fun!</h3>
            <p>Ready to dive in and start creating? The ASCII Art Graphics Tool is here to turn your text into visual magic. <span><a href="/ascii-art">Let’s get arty! 🎉</a></span></p>
        </div>
    <div class="main-content">        
        <h3>What's New?</h3>
        <p>🚀 Say hello to version <span class="highlight">0.4</span>! The latest and greatest update brings you a sleek new <span class="highlight">Web Interface</span> that makes creating and sharing ASCII art easier than ever. No more fiddling with code – just pure, unadulterated creativity at your fingertips!</p>
            
        <h3>Exciting Updates Ahead!</h3>
        <p>🔧 This application is a work in progress, and we're just getting started! We're constantly cooking up new features and squashing bugs to make your experience even better. Stay tuned for more awesome updates and improvements. The best is yet to come! 🚀
        </p> 
    </div>
</div>
{{end}}