{{template "base" . }} {{define "css"}}
<link
	rel="stylesheet"
	href="/static/styles/ascii.css"
	type="text/css"
/>
{{end}} {{define "title"}} Ascii {{end}} {{define "content"}}

<!-- Ascii Art Work Display -->
{{if and .StringMap (or .StringMap.ascii .StringMap.nonasciis)}}
<div class="ascii">
	{{if .StringMap.ascii}}
	<pre>{{.StringMap.ascii}}</pre>
	{{end}} {{if .StringMap.nonasciis}}
	<pre>{{.StringMap.nonasciis}}</pre>
	{{end}}
</div>
<div>
	<a
		href="/"
		class="btn"
		>More Tests</a
	>
	or
	<a
		href="/download-ascii"
		class="btn"
		download
		>Download-Ascii</a
	>
</div>
{{else}}
<p>Uh-Oh! You need to enter some text</p>
<a
	href="/"
	class="btn"
	>here</a
>
{{ end }}
<!-- end of Ascii Art Display -->
{{end}}
