{{template "base" .}} 
{{define "css"}}
<link
    rel="stylesheet"
    href="/static/styles/contact.css"
    type="text/css"
/>
{{end}} 

{{define "title"}} Contact {{end}} 

{{define "content"}}
<!-- success toast -->
{{if .StringMap.success}}
<div class="toast">
    <div>{{ .StringMap.success }}</div>
    <a href="/" class="btn">ok!</a>
</div>
{{end}}
<!-- toast end-->

<div class="contact-content">
    <h2>We'd Love to Hear from You! 📬</h2>
    <p>
        Got questions, feedback, or just want to say hi? Drop us a message and we'll
        get back to you faster than a snail on a caffeine rush! 🐌☕️
    </p>

    <!-- form response data -->
    {{$res := .Form.FormValues}}

    <form
        action="#"
        class="contact-form"
        method="POST"
    >
        <label for="name">
            Your Name: 
            {{with .Form.Errors.Get "name"}}
            <span class="text-danger">{{ . }}</span>
            {{end}}
        </label>
        <input 
            class="{{with .Form.Errors.Get "name"}}border-danger{{end}}"
            type="text"
            id="name"
            name="name"
            placeholder="Your awesome name"
           value="{{if $res.name}}{{ $res.name }}{{else}}{{ .StringMap.username }}{{end}}"
        />

        <label for="email">
            Your Email: 
            {{with .Form.Errors.Get "email"}}
            <span class="text-danger">{{ . }}</span>
            {{end}}
        </label>
        <input 
            class="{{with .Form.Errors.Get "email"}}border-danger{{end}}"
            type="email"
            id="email"
            name="email"
            placeholder="Your email address"
            value="{{ $res.email }}"
        />

        <label for="message">
            Your Message: 
            {{with .Form.Errors.Get "message"}}
            <span class="text-danger">{{ . }}</span>
            {{end}}
        </label>
        <textarea 
            class="{{with .Form.Errors.Get "message"}}border-danger{{end}}"
            id="message"
            name="message"
            rows="5"
            placeholder="Type your message here..."
        >{{ $res.message }}</textarea>

        <button
            class="btn"
            type="submit"
        >
            Send Message 🚀
        </button>
    </form>

    <h2>Follow Us on Social Media!</h2>
</div>
{{end}}
