{{template "base" . }} {{define "css"}}
<link
	rel="stylesheet"
	href="/static/styles/home.css"
	type="text/css"
/>
{{end}} {{define "title"}} Home {{end}} {{define "content"}}
<div class="home-page">
	<h1 id="home-page">Welcome to the World of ASCII Art!</h1>
	<form
		action="/ascii-art"
		method="POST"
	>
		<label for="textInput">Enter text:</label>
		<textarea
			type="text"
			id="textInput"
			name="textInput"
			placeholder="Type something"
		></textarea>
		<br />

		<label>Choose a font:</label>
		<br />
		<div class="radios">
			<div>
				<input
					type="radio"
					id="standard"
					name="Font"
					value="--standard"
					checked
				/>
				<label for="standard">Standard</label>
			</div>

			<div>
				<input
					type="radio"
					id="thinkertoy"
					name="Font"
					value="--thinkertoy"
				/>
				<label for="thinkertoy">Thinkertoy</label>
			</div>

			<div>
				<input
					type="radio"
					id="shadow"
					name="Font"
					value="--shadow"
				/>
				<label for="shadow">Shadow</label>
			</div>
		</div>
		<br />
		<input
			type="submit"
			value="Submit"
		/>
	</form>
</div>
{{end}}
