{{template "base" .}} {{define "css"}}
<link
	rel="stylesheet"
	href="/static/styles/home.css"
/>
{{end}} {{define "title"}} Home {{end}} {{define "content"}}
<a
	href="/"
	title="Home Page"
>
	<h1>Ascii Art Web</h1>
</a>
<h2>ASCII-Graphics Tool</h2>
<p>
	This program is designed to graphically represent an input string using
	different ASCII formats. These formats are represented in banner files;
	'standard.txt', 'shadow.txt' and 'thinkertoy.txt'.
</p>
<p>
	You can try it by entering text below and pressing enter. You can also use the
	submit button below.
</p>
<p>Remember to scroll down to find your text in A colorful output.</p>
<form
	action="/ascii-art"
	method="POST"
>
	<label for="textInput">Enter text:</label>
	<textarea
		type="text"
		id="textInput"
		name="textInput"
		placeholder="Type something"
	></textarea>
	<br /><br />
	<label for="FileName">Choose a font:</label>
	<!-- <div class="radio-btns"> -->
	<br />
	<select
		id="FileName"
		name="FileName"
	>
		<option value="standard">Standard</option>
		<option value="thinkertoy">Thinkertoy</option>
		<option value="shadow">Shadow</option>
	</select>
	<br /><br />
	<input
		type="submit"
		value="Submit"
	/>
</form>
<div class="ascii">
	{{if .Body}}
	<pre>{{.Body}}</pre>
	{{ end }}
</div>
{{end}}
