{{template "base" . }} {{define "css"}}
<link
	rel="stylesheet"
	href="/static/styles/login.css"
	type="text/css"
/>
{{end}} {{define "title"}} Login {{end}} {{define "content"}}
<p>Oops, it seems you are not logged in</p>
<h2>Login Here!</h2>
<form
	class="login-form"
	method="POST"
>
	<div id="alias">
		<label for="input">Alias:</label>
		<input
		    maxlength="12"
			id="username"
			name="username"
			placeholder="your awesome name"
			required
			type="text"
		/>
	</div>
	<input
		value="Login  🚀"
		type="submit"
	/>
</form>
{{end}}
