{{define "navbar"}}
<link
	rel="stylesheet"
	href="/static/styles/navbar.css"
	type="text/css"
/>
<div class="navbar">
	<!-- Hamburger Icon -->
	<div
		class="hamburger"
		onclick="toggleMenu()"
	>
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
	</div>

	<div>
		<ul id="nav-menu">
			<li>
				<a
					id="home"
					href="/"
					>Home</a
				>
			</li>
			<li>
				<a
					id="ascii"
					href="/ascii-art"
					>Ascii-Art</a
				>
			</li>
			<li>
				<a
					id="about"
					href="/about"
					>About</a
				>
			</li>
			<li>
				<a
					id="contact"
					href="/contact"
					>Contact</a
				>
			</li>
		</ul>
	</div>
	{{if .StringMap.username}}
	<div class="user">
		<div class="user-icon">
			<img
				src="/static/images/user.png"
				alt="user-icon"
			/>
			<div>
				<span>Hello,</span>
				<span class="username">{{.StringMap.username}}</span>
				<a
					id="logout"
					href="/logout"
					>Logout</a
				>
			</div>
		</div>
	</div>
	{{end}}
	<!-- Navigation Menu -->
</div>
{{end}}
